*{padding: 0;margin: 0;box-sizing: border-box;}

@themes: '../images';

.LoginLayout{
  padding: .3rem .59rem;
  .logo{
    width: 4.41rem;
    height: .73rem;
    margin: 1.14rem auto .72rem;
    background: url('@{themes}/logo.png') center no-repeat;
    background-size: cover;
  }
}
